<!DOCTYPE HTML>
<html>
<head>
  <title>Главная</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
	<h4><a href="/login">Войти</a></h4>
	<h4><a href="/registration">Зарегистрироваться</a></h4>
	<h4><a href="/news">Новости (только пользователь)</a></h4>
	<h4><a href="/admin">Пользователи (только админ)</a></h4>
	<form action="/logout" method="post">
		<!-- csrf-токен нужен для защиты от перехвата запроса. В thymeleaf встроен, в других надо прописывать. Можно отключить -->
  		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
  		<input type="submit" value="Выйти"/>
	</form>
</div>
</body>
</html>